[edge_runtime]
deno_version = 2.1

[db]
major_version = 15

[functions.fetch-fmp-quote-indicators]
enabled = true
verify_jwt = false
entrypoint = "./functions/fetch-fmp-quote-indicators/index.ts"
static_files = [ "./functions/fetch-fmp-quote-indicators/types.ts" ]

[functions.fetch-fmp-all-exchange-market-status]
enabled = true
verify_jwt = false
entrypoint = "./functions/fetch-fmp-all-exchange-market-status/index.ts"

[functions.fetch-fmp-exchange-prices-api]
enabled = true
verify_jwt = false
entrypoint = "./functions/fetch-fmp-exchange-prices-api/index.ts"
static_files = [ "./functions/fetch-fmp-exchange-prices-api/types.ts" ]

[functions.fetch-fmp-financial-statements]
enabled = true
verify_jwt = false
entrypoint = "./functions/fetch-fmp-financial-statements/index.ts"
static_files = [ "./functions/fetch-fmp-financial-statements/types.ts" ]

[functions.fetch-fmp-profiles]
enabled = true
verify_jwt = false
entrypoint = "./functions/fetch-fmp-profiles/index.ts"
static_files = [ "./functions/fetch-fmp-profiles/types.ts" ]

[functions.fetch-fmp-shares-float]
enabled = true
verify_jwt = true
entrypoint = "./functions/fetch-fmp-shares-float/index.ts"

[functions.fetch-fmp-ratios-ttm]
enabled = true
verify_jwt = false
entrypoint = "./functions/fetch-fmp-ratios-ttm/index.ts"

[functions.fetch-fmp-dividend-history]
enabled = true
verify_jwt = true
entrypoint = "./functions/fetch-fmp-dividend-history/index.ts"

[functions.fetch-fmp-revenue-segmentation]
enabled = true
verify_jwt = true
entrypoint = "./functions/fetch-fmp-revenue-segmentation/index.ts"

[functions.fetch-fmp-grades-historical]
enabled = true
verify_jwt = true
entrypoint = "./functions/fetch-fmp-grades-historical/index.ts"

[functions.fetch-fmp-exchange-variants]
enabled = true
verify_jwt = false
entrypoint = "./functions/fetch-fmp-exchange-variants/index.ts"

[functions.fetch-fmp-available-exchanges]
enabled = true
verify_jwt = false
entrypoint = "./functions/fetch-fmp-available-exchanges/index.ts"

[functions.fetch-exchange-rates]
enabled = true
verify_jwt = false

[functions.health-check]
enabled = true
verify_jwt = false
entrypoint = "./functions/health-check/index.ts"

[functions.monitoring-alerts]
enabled = true
verify_jwt = false
entrypoint = "./functions/monitoring-alerts/index.ts"
entrypoint = "./functions/fetch-exchange-rates/index.ts"
import_map = "./functions/fetch-exchange-rates/deno.json"
static_files = [ "./functions/fetch-exchange-rates/types.ts" ]

[functions.delete-user]
enabled = true
verify_jwt = true
import_map = "./functions/delete-user/deno.json"
# Uncomment to specify a custom file path to the entrypoint.
# Supported file extensions are: .ts, .js, .mjs, .jsx, .tsx
entrypoint = "./functions/delete-user/index.ts"
# Specifies static files to be bundled with the function. Supports glob patterns.
# For example, if you want to serve static HTML pages in your function:
# static_files = [ "./functions/delete-user/*.html" ]
